* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
}

main {
    background-color: darkgray;
    display: flex;
    width: 100%;
    height:100%;
    align-items:center;
    justify-content:center;
    border-top: 1px solid black;
}


main section {
    display:flex;
    justify-content: center;
    border: 2px dotted #242E3F;
    padding: 4em;
    width: 50%;
}

.main-content {
    width: 75%;
}
.flex-container {
    background: #faebd7;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.flex-item {
    border-right: 4px double #242E3F;
    padding: 1em;
    /* justify-content: space-evenly; */
}
body {
    margin: 0;
    font-family: Roboto;
    background: orange;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}
h3 {
    color: grey;
}
hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}
.card {
    margin: .5em;
    border-radius: 2px;
    background: white;
    width: 250px;
    height: 350px;
}
img {
    border-radius: 120px;
    width: 120px;
}
i {
    color: grey;
}
.text-section {
    position: relative;
    bottom: 1.5em;
}
.icons i {
    font-size: 2.2em;
}