* {
    /*this is the universal selector*/
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #333333;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav a {
  color: black;
}

header nav a:hover {
    color: black;
}

