body {
    background-image: url(https://pngtree.com/freebackground/beautiful-technology-website-business-poster-background-template_1107136.html);
    background-color: teal;
    font-family: 'Bad Script', cursive;
}


header {text-align: center;

    color: coral;
    text-decoration:underline;
}


ul {
    list-style: georgian;
}

table {
    border: thin solid black;
    border-collapse: collapse;
    font-size: 1.2 em;
}


th, td {
    border: thin dotted black;
    padding: 8.5px;
}

a:link {
    color: coral;
}

a:visited {
    color: blueviolet;
}

a:hover {
    background: aliceblue;
    color: brown;
}LOO